body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    margin-top: 20px;
  }
  
  #container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 960px;
    margin: 20px auto;
    border: 1px solid #ccc;
  }
  
  button#resetButton {
    margin-bottom: 20px;
  }

  .square {
    width: calc(960px / 16);
    height: calc(960px / 16);
    border: 1px solid #eee;
  }
  